@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var usuario = Context.Session.GetString("Usuario");
    var rol = Context.Session.GetString("Rol");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aeropuerto El Plateado</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Parcial3_Aeropuerto.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/avion.ico" />
</head>

<body>

    <!-- ENCABEZADO SOLO LOGO Y NOMBRE -->
    <header class="bg-dark text-white py-3 shadow">
        <div class="header-contenido">
            <div></div>

            <h2 class="fw-bold m-0 titulo-header">
                <img class="logolayout" src="~/css/imgs/logo.png" />
                Aeropuerto El Sauce
            </h2>

            @if (!string.IsNullOrEmpty(usuario))
            {
                @if (rol == "Recepcionista")
                {
                <nav class="menu-derecha">
                    <div class="cerrarsesion">
                        <a class="btn btn-outline-light mx-2" asp-controller="Login" asp-action="CerrarSesion">Cerrar sesión</a>
                    </div>
                </nav>

                <div class="user-izquierda">
                
                    <img class="usericon" src="~/css/imgs/users/recepcionista-3.png" />

                    <div class="usertext">
                                <span class="nombre">@usuario</span>
                                <span class="rol">@rol</span>
                    </div>
                               
                </div>
                }

                @if (rol == "Gerente")
                {
                    <nav class="menu-derecha">
                        <div class="cerrarsesion">
                            <a class="btn btn-outline-light mx-2" asp-controller="Login" asp-action="CerrarSesion">Cerrar sesión</a>
                        </div>
                    </nav>
                    <div class="user-izquierda">
                        <img class="usericon" src="~/css/imgs/users/gerente.png" />
                        <div class="usertext">
                            <span class="nombre">@usuario</span>
                            <span class="rol">@rol</span>
                        </div>
                    </div>
                }
                
                @if (rol == "Administrador")
                {
                    <nav class="menu-derecha">
                        <div class="footer-boton">
                            <img src="~/css/imgs/iconosbotones/usuarios.png" />
                            <a class="btn btn-outline-light mx-2"
                               asp-controller="Usuarios" asp-action="Usuarios">Usuarios</a>
                        </div>

                        <div class="footer-boton">
                            <img src="~/css/imgs/iconosbotones/roles.png" />
                            <a class="btn btn-outline-light mx-2"
                               asp-controller="Roles" asp-action="Roles">Roles</a>
                        </div>

                        <div class="cerrarsesion">
                            <a class="btn btn-outline-light mx-2" asp-controller="Login" asp-action="CerrarSesion">Cerrar sesión</a>
                        </div>
                    </nav>

                    <div class="user-izquierda">

                        <img class="usericon" src="~/css/imgs/users/administrador.png" />

                        <div class="usertext">
                            <span class="nombre">@usuario</span>
                            <span class="rol">@rol</span>
                        </div>

                    </div>

                            

                }
            }
                    
        </div>
    </header>

    <!-- CONTENIDO -->
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- MENU ABAJO CENTRADO -->
    <footer class="bg-dark text-center py-3 fixed-bottom">
        <nav>

            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/reserva.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Reservas" asp-action="Reservas">Reservas</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/pasajero.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Pasajero" asp-action="Pasajero">Pasajeros</a>
            </div>

            @if (rol == "Administrador" || rol == "Gerente")
            {
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/facturacion.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Facturacion" asp-action="Facturacion">Facturación</a>
            </div>
            }
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/vuelos.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Vuelos" asp-action="Vuelos">Vuelos</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/inicio.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Home" asp-action="Index">Inicio</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/aviones.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Aviones" asp-action="Aviones">Aviones</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/aerolineas.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Aerolineas" asp-action="Aerolineas">Aerolineas</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/aeropuerto.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Aeropuertos" asp-action="Aeropuertos">Aeropuertos</a>
            </div>
            <div class="footer-boton">
                <img src="~/css/imgs/iconosbotones/destino.png" />
                <a class="btn btn-outline-light mx-2"
                   asp-controller="Destinos" asp-action="Destinos">Destinos</a>
            </div>
            
        </nav>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>