@model IEnumerable<Parcial3_Aeropuerto.EN.Reservas>

@{
    ViewData["Title"] = "Reservas";
}

<h1>Reservas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_reserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_pasajero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_vuelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_reserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_pasajero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_vuelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_usuario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
