@model Parcial3_Aeropuerto.EN.Paginacion<Parcial3_Aeropuerto.EN.Pasajero>
@inject IHttpContextAccessor HttpContextAccessor

@{
    var usuario = Context.Session.GetString("Usuario");
    var rol = Context.Session.GetString("Rol");
}

@{
    ViewData["Title"] = "Pasajero";
}

<h1>Pasajeros</h1>

<p>
    <a href="javascript:void(0)" class="btn btn-primary" onclick="mostrarCreate()"><img class="acciones" src="~/css/imgs/iconosacciones/agregar.png" /></a>
</p>

<div class="row-md-6 mb-5">
    <form asp-action="Pasajero" method="get" class="d-flex shadow-sm">
        <div class="input-group">
            <span class="input-group-text bg-white border-end-0">
                <i class="bi bi-search text-muted"></i>
            </span>
            <input type="text" name="buscar" class="form-control border-start-0"
                   placeholder="Buscar por nombre o apellido..." value="@ViewData["buscar"]" />

            <button type="submit" class="btn btn-primary">
                Buscar
            </button>

            @if (!string.IsNullOrEmpty(Context.Request.Query["buscar"]))
            {
                <a asp-action="Pasajero" class="btn btn-outline-primary">Limpiar</a>
            }

        </div>
    </form>



</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Pasaporte</th>
            <th>Edad</th>
            <th>País</th>
            <th>Visa</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
                <td>@item.Id_pasajero</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Pasaporte</td>
                <td>@item.Edad</td>
                <td>@item.Pais</td>
                <td>@item.Visa</td>
            <td>
                <a href="javascript:void(0);"class="btn btn-success btn-sm" onclick="mostrarEdit(@item.Id_pasajero); return false;"><img class="acciones" src="/css/imgs/iconosacciones/editar.png"/></a>

    @if (!string.IsNullOrEmpty(usuario))
    {
          @if(rol == "Administrador")
          {
              <a href="javascript:void(0);" class="btn btn-danger btn-sm" onclick="mostrarDelete(@item.Id_pasajero);"><img class="acciones" src="/css/imgs/iconosacciones/eliminar.png"/></a>
          }
    }
                <a class="btn btn-primary btn-sm"><img class="acciones" src="~/css/imgs/iconosacciones/detalle.png"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @if (Model.PaginaActual > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Pasajero" asp-route-paginas="@(Model.PaginaActual - 1)">Anterior</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPaginas; i++)
        {
            <li class="page-item @(i == Model.PaginaActual ? "active" : "")">
                <a class="page-link" asp-action="Pasajero" asp-route-paginas="@i">@i</a>
            </li>
        }

        @if (Model.PaginaActual < Model.TotalPaginas)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Pasajero" asp-route-paginas="@(Model.PaginaActual + 1)">Siguiente</a>
            </li>
        }
    </ul>
</nav>
<div id="modalContainer"></div>

<script>
    function mostrarCreate() {
        $.get('/Pasajero/Create', function (data) {
            $('#modalContainer').html(data);
            var modal = new bootstrap.Modal(document.getElementById('createModal'));
            modal.show();
        });
    }

          function mostrarEdit(id) {
    $.get('/Pasajero/Edit?id=' + id, function (data) {
        $('#modalContainer').html(data);

        var modal = new bootstrap.Modal(document.getElementById('editModal'));
        modal.show();
    });
}

    function mostrarDelete(id) {
        $.get('/Pasajero/Delete?id=' + id, function (data) {
            $('#modalContainer').html(data);

            var modal = new bootstrap.Modal(document.getElementById('deleteModal'));
            modal.show();
        });
    }
</script>

@*LLamo la fucnion de alerta desde aquí por motivos de procesamiento de datos de validación_NG*@
@if (TempData["SMSExito"] != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
        title: "¡Excelente!",
        text: '@Html.Raw(TempData["SMSExito"])',
        icon: "success",
        color: "#000000",
        iconColor: "#25E17A",
        timer: 1500,
        showConfirmButton: false
        });
    </script>

}
@{
    var smsExito = TempData["SMSExito"]?.ToString();
    var smsError = TempData["SMSError"]?.ToString();
}

@if (!string.IsNullOrWhiteSpace(smsError))
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        Swal.fire({
        title: "No se puede eliminar",
        text: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(smsError)),
        icon: "warning",
        color: "#000000",
        iconColor: "#F5650C",
        confirmButtonText: "Entendido"
        });
    </script>
}
else if (!string.IsNullOrWhiteSpace(smsExito))
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        Swal.fire({
        title: "¡Excelente!",
        text: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(smsExito)),
        icon: "success",
        color: "#000000",
        iconColor: "#25E17A",
        timer: 1500,
        showConfirmButton: false
        });
    </script>
}