@model IEnumerable<Parcial3_Aeropuerto.Models.Pasajero>

@{
    ViewData["Title"] = "Pasajero";
}

<h1>Pasajero</h1>

<p>
    <a href="javascript:void(0)" class="btn btn-primary" onclick="mostrarCreate()">Nuevo pasajero</a>
</p>

<div class="row-md-6 mb-5">
    <form asp-action="Pasajero" method="get" class="d-flex shadow-sm">
        <div class="input-group">
            <span class="input-group-text bg-white border-end-0">
                <i class="bi bi-search text-muted"></i>
            </span>
            <input type="text" name="buscar" class="form-control border-start-0"
                   placeholder="Buscar por nombre o apellido..." value="@ViewData["buscar"]" />

            <button type="submit" class=" btn text-white" style="background-color: blue">
                Buscar
            </button>

            @if (!string.IsNullOrEmpty(Context.Request.Query["buscar"]))
            {
                <a asp-action="Pasajero" class="btn btn-outline-secondary">Limpiar</a>
            }

        </div>
    </form>


</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pasaporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visa)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pasaporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visa)
            </td>
            <td>
                  @Html.ActionLink("Detalle", "Details", new {  id=item.Id}, new{@class="btn bt-primary"}) |
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<div id="modalContainer"></div>

<script>
    function mostrarCreate() {
        $.get('/Pasajero/Create', function (data) {
            $('#modalContainer').html(data);
            var modal = new bootstrap.Modal(document.getElementById('createModal'));
            modal.show();
        });
    }
</script>
