@model IEnumerable<Parcial3_Aeropuerto.EN.Rol>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<p>
    <a href="javascript:void()" class="btn btn-primary" onclick="mostrarCreate()">Nuevo Avion</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_rol)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_rol)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id_rol }) |
       
                @Html.ActionLink("Delete", "Delete", new { id=item.Id_rol })
            </td>
        </tr>
}
    </tbody>
</table>

  <div id="modalContainer"></div>

    <script>
        function mostrarCreate() {
           
            $.get('/Roles/Create', function (data) {
               
                $('#modalContainer').html(data);
            
                var modalElem = document.getElementById('Create');
                if (modalElem) {
                    var modal = new bootstrap.Modal(modalElem);
                    modal.show();
                } else {
                    console.error("No se encontró un elemento con ID 'Create' en la vista parcial.");
                }
            });
        }
    </script>
