@model IEnumerable<Parcial3_Aeropuerto.EN.Usuarios>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>
<p>
    <a href="javascript:void(0)" class="btn btn-primary" onclick="mostrarCreate()"><img class="acciones" src="~/css/imgs/iconosacciones/agregar.png" /></a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_rol)
            </th>
          
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_rol)
            </td>
          
                <td>
                    <a href="javascript:void(0);" class="btn btn-success btn-sm" onclick="mostrarEdit(@item.Id_usuario); return false;"><img class="acciones" src="/css/imgs/iconosacciones/editar.png" /></a>

                    <a href="javascript:void(0);" class="btn btn-danger btn-sm" onclick="mostrarDelete(@item.Id_usuario);"><img class="acciones" src="/css/imgs/iconosacciones/eliminar.png" /></a>
                </td>
        </tr>
}
    </tbody>
</table>

<div id="modalContainer"></div>


<script>

            function mostrarCreate() {
            $.get('/Usuarios/Create', function (data) {
                $('#modalContainer').html(data);
                var modal = new bootstrap.Modal(document.getElementById('CreateModal'));
                modal.show();
            });
        }

        function mostrarEdit(id) {
        $.get('/Usuarios/Edit?id=' + id, function (data) {
            $('#modalContainer').html(data);
            var modal = new bootstrap.Modal(document.getElementById('editModal'));
            modal.show();
        });
    }

    function mostrarDelete(id) {
            $.get('/Usuarios/Delete?id=' + id, function (data) {
                $('#modalContainer').html(data);
                var modal = new bootstrap.Modal(document.getElementById('deleteModal'));
                modal.show();
            });
        }
</script>

@*LLamo la fucnion de alerta desde aquí por motivos de compatibilidad de validación_NG*@
@if (TempData["SMSExito"] != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        Swal.fire({
        title: "¡Excelente!",
        text: '@Html.Raw(TempData["SMSExito"])',
        icon: "success",
        color: "#000000",
        iconColor: "#25E17A",
        timer: 1500,
        showConfirmButton: false
        });
    </script>
}

