@model IEnumerable<Parcial3_Aeropuerto.Models.Aviones>

@{
    ViewData["Title"] = "Aviones";
}

<h1>Aviones</h1>

<p>
    <a href="javascript:void()" class="btn btn-primary" onclick="mostrarCreate()">Nuevo Avion</a>
</p>

<div class="row-md-6 mb-5">
    <form asp-action="Aviones" method="get" class="d-flex shadow-sm">
        <div class="input-group">
            <span class="input-group-text bg-white border-end-0">
                <i class="bi bi-search text-muted"></i>
            </span>
            <input type="text" name="buscar" class="form-control border-start-0"
                   placeholder="Buscar por nombre o apellido..." value="@ViewData["buscar"]" />

            <button type="submit" class=" btn text-white" style="background-color: blue">
                Buscar
            </button>

            @if (!string.IsNullOrEmpty(Context.Request.Query["buscar"]))
            {
                <a asp-action="Aviones" class="btn btn-outline-secondary">Limpiar</a>
            }

        </div>
    </form>


</div>




<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_avion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_aerolinea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_avion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_aerolinea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id_avion }) |
                 @Html.ActionLink("Detalle", "Details", new { id = item.Id_avion }, new { @class = "btn btn-primary" })|
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_avion })
            </td>
        </tr>
}
    </tbody>
</table>
<div id="modalContainer"></div>

<script>
    function mostrarCreate() {
        // 1. Asegúrate que la ruta sea correcta
        $.get('/Aviones/Create', function (data) {
            // 2. Inyecta el HTML en el contenedor
            $('#modalContainer').html(data);
            
            // 3. El ID 'Create' debe existir dentro de la vista que cargaste
            var modalElem = document.getElementById('Create');
            if (modalElem) {
                var modal = new bootstrap.Modal(modalElem);
                modal.show();
            } else {
                console.error("No se encontró un elemento con ID 'Create' en la vista parcial.");
            }
        });
    }
</script>