@model Parcial3_Aeropuerto.EN.Paginacion<Parcial3_Aeropuerto.EN.Aviones>


@{
    ViewData["Title"] = "Aviones";
}

<h1>Aviones</h1>

<p>
    <a href="javascript:void()" class="btn btn-primary" onclick="mostrarCreate()">Nuevo Avion</a>
</p>

<div class="row-md-6 mb-5">
    <form asp-action="Aviones" method="get" class="d-flex shadow-sm">
        <div class="input-group">
            <span class="input-group-text bg-white border-end-0">
                <i class="bi bi-search text-muted"></i>
            </span>
            <input type="text" name="buscar" class="form-control border-start-0"
                   placeholder="Buscar por nombre o apellido..." value="@ViewData["buscar"]" />

            <button type="submit" class=" btn text-white" style="background-color: blue">
                Buscar
            </button>

            @if (!string.IsNullOrEmpty(Context.Request.Query["buscar"]))
            {
                <a asp-action="Aviones" class="btn btn-outline-secondary">Limpiar</a>
            }

        </div>
    </form>


</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th>ID Avion</th>
            <th> ID Aerolinea</th>
            <th> Capacidad</th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Items) {
        <tr>
            <td>@item.Id_avion</td>
            <td>@item.Id_aerolinea</td>
            <td>@item.Capacidad</td>

                <td>
                    <a href="javascript:void(0);" class="btn btn-success btn-sm" onclick="mostrarEdit(@item.Id_avion); return false;"><img class="acciones" src="/css/imgs/iconosacciones/editar.png" /></a>

                    <a href="javascript:void(0);" class="btn btn-danger btn-sm" onclick="mostrarDelete(@item.Id_avion);"><img class="acciones" src="/css/imgs/iconosacciones/eliminar.png" /></a>

                    <a class="btn btn-primary btn-sm"><img class="acciones" src="~/css/imgs/iconosacciones/detalle.png" /></a>
                </td>


            
        </tr>
}
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @if (Model.PaginaActual > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Aviones" asp-route-paginas="@(Model.PaginaActual - 1)">Anterior</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPaginas; i++)
        {
            <li class="page-item @(i == Model.PaginaActual ? "active" : "")">
                <a class="page-link" asp-action="Aviones" asp-route-paginas="@i">@i</a>
            </li>
        }

        @if (Model.PaginaActual < Model.TotalPaginas)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Aviones" asp-route-paginas="@(Model.PaginaActual + 1)">Siguiente</a>
            </li>
        }
    </ul>
</nav>

<div id="modalContainer"></div>

<script>
        function mostrarCreate() {
            $.get('/Aviones/Create', function (data) {
                $('#modalContainer').html(data);
                var modal = new bootstrap.Modal(document.getElementById('createModal'));
                modal.show();
            });
        }

              function mostrarEdit(id) {
        $.get('/Aviones/Edit?id=' + id, function (data) {
            $('#modalContainer').html(data);

            var modal = new bootstrap.Modal(document.getElementById('editModal'));
            modal.show();
        });
    }

        function mostrarDelete(id) {
            $.get('/Aviones/Delete?id=' + id, function (data) {
                $('#modalContainer').html(data);

                var modal = new bootstrap.Modal(document.getElementById('deleteModal'));
                modal.show();
            });
        }
</script>

