@model Parcial3_Aeropuerto.Models.Aviones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aviones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_avion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_avion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_aerolinea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_aerolinea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Aviones">Atras</a>
</div>
